.footer {
    border-top: 1px solid rgba(16, 0, 43, 0.12);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

@media screen and (max-width: 759px) {
    .footer-top {
        display: block;
        height: auto;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.footer-phone-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 759px) {
    .footer-phone-wrapper {
        margin-bottom: 16px;
    }
}

.footer-phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 4px;
}

@media screen and (max-width: 759px) {
    .footer-phone {
        font-size: 16px;
        line-height: 19px;
    }
}

.footer-phone-tip {
    font-size: 14px;
    line-height: 16px;
    color: #8A959D;
}

@media screen and (max-width: 759px) {
    .footer-phone-tip {
        font-size: 12px;
        line-height: 18px;
    }
}

.social-icon {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 759px) {
    .social-icon {
        width: 25px;
        height: 25px;
        margin-right: 36px;
    }
}

.social-icon:last-child {
    margin-right: 0;
}

.vk {
    background-image: url("../../../assets/icons/vk.svg");
}

@media screen and (max-width: 759px) {
    .vk {
        background-image: url("../../../assets/icons/vk-adapt.svg");
    }
}

.instagram {
    background-image: url("../../../assets/icons/instagram.svg");
}

@media screen and (max-width: 759px) {
    .instagram {
        background-image: url("../../../assets/icons/instagram-adapt.svg");
    }
}

.facebook {
    background-image: url("../../../assets/icons/facebook.svg");
}

@media screen and (max-width: 759px) {
    .facebook {
        background-image: url("../../../assets/icons/facebook-adapt.svg");
    }
}

.footer-center-wrapper {
    border-top: 1px solid rgba(16, 0, 43, 0.12);
    border-bottom: 1px solid rgba(16, 0, 43, 0.12);
}

@media screen and (max-width: 759px) {
    .footer-center-wrapper {
        border-bottom: none;
    }
}

.footer-center {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 24px;
}

@media screen and (max-width: 759px) {
    .footer-center {
        flex-direction: column;
        padding: 0;
    }
}

.footer-nav-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 90px;
}

@media screen and (max-width: 1179px) {
    .footer-nav-wrapper {
        grid-column-gap: 50px;
    }
}

@media screen and (max-width: 759px) {
    .footer-nav-wrapper {
        order: 2;
        display: block;
    }
}

@media screen and (max-width: 759px) {
    .footer-nav-column {
        border-top: 1px solid rgba(16, 0, 43, 0.12);
        border-bottom: 1px solid rgba(16, 0, 43, 0.12);
        display: flex;
        height: 46px;
        align-items: center;
        padding: 0 16px;
        background-image: url("../../../assets/icons/btn-down-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 16px center;
        cursor: pointer;
    }
}

@media screen and (max-width: 759px) {
    .footer-nav-column:last-child {
        border-top: none;
    }
}

.footer-nav-caption {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    font-weight: bold;
}

@media screen and (max-width: 759px) {
    .footer-nav-caption {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 759px) {
    .footer-nav-item-wrapper {
        display: none;
    }
}

.footer-nav-item {
    font-size: 14px;
    line-height: 32px;
    color: #8A959D;
}

.footer-nav-item:hover {
    color: #10002B;
    transition: 400ms;
}

.footer-app-contacts-wrapper {
    display: flex;
}

@media screen and (max-width: 959px) {
    .footer-app-contacts-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 759px) {
    .footer-app-contacts-wrapper {
        margin: 0;
        order: 1;
        padding-top: 26px;
        padding-bottom: 24px
    }
}

.footer-app-wrapper {
    margin-right: 28px;
}

@media screen and (max-width: 959px) {
    .footer-app-wrapper {
        display: flex;
        margin-right: 0;
    }
}

@media screen and (max-width: 759px) {
    .footer-app-wrapper {
        justify-content: flex-start;
        order: 2;
        padding: 0 16px;
    }
}

@media screen and (max-width: 589px) {
    .footer-app-wrapper {
        display: block;
    }
}

.footer-app {
    width: 166px;
    height: 48px;
    display: block;
    margin-bottom: 8px;
}

@media screen and (max-width: 589px) {
    .footer-app:first-child {
        margin-bottom: 8px;
    }
}

.footer-app:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 959px) {
    .footer-app:first-child {
        margin-right: 8px;
    }
}

@media screen and (max-width: 759px) {
    .footer-app {
        margin-bottom: 0;
    }
}

.apple-image {
    background-image: url("../../../assets/icons/app-image.svg");
}

.apple-image:hover {
    background-image: url("../../../assets/icons/app-image-hover.svg");
    transition: 300ms;
}

.footer-contacts-wrapper {
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 368px;
}

@media screen and (max-width: 1035px) {
    .footer-contacts-wrapper {
        width: 300px;
    }
}

@media screen and (max-width: 959px) {
    .footer-contacts-wrapper {
        width: 340px;
    }
}

@media screen and (max-width: 759px) {
    .footer-contacts-wrapper {
        background-color: #FFFFFF;
        border-radius: 0;
        width: 100%;
        order: 1;
        margin-bottom: 34px;
        padding: 0 16px;
    }
}

.contacts-top-block {
    padding: 26px 17px 14px 26px;
}

@media screen and (max-width: 759px) {
    .contacts-top-block {
        padding: 0 0 14px 0;
        max-width: 368px;
    }
}

.contacts-wrapper {
    border-bottom: 1px solid #E2E0E5;
}

.contacts-down-block {
    padding: 12px 17px 14px 26px;
    border-bottom: none;
}

@media screen and (max-width: 759px) {
    .contacts-down-block {
        padding: 12px 0 0 0;
        max-width: 368px;
    }
}

.contact-item {
    display: block;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 14px;
    line-height: 20px;
    color: #8A959D;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.location-icon {
    background-image: url("../../../assets/icons/locaton.svg");
}

.phone-icon {
    background-image: url("../../../assets/icons/phone.svg");
    display: block;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

@media screen and (max-width: 879px) {
    .footer-down {
        align-items: start;
        padding-top: 16px;
        padding-bottom: 14px;
        height: auto;
    }
}

@media screen and (max-width: 759px) {
    .footer-down {
        display: block;
        padding-bottom: 24px;
    }
}

.footer-down-text {
    font-size: 14px;
    line-height: 20px;
    color: #8A959D;
}

@media screen and (max-width: 879px) {
    .footer-down-text {
        max-width: 450px;
    }
}

@media screen and (max-width: 759px) {
    .footer-down-text {
        margin-bottom: 16px;
    }
}

.footer-down-privacy {
    font-size: 14px;
    line-height: 20px;
    color: #0070C9;
}

