body * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #10002B;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.gl-button-abm {
    background-color: #02B1A9;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

p {
    margin: 0;
}

input, textarea {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    height: 48px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
    transition: 200ms border;
}

input::placeholder {
    color: #8A959D;
}

input:focus, textarea:focus {
    border-color: #8A959D;
}

textarea {
    height: auto;
    resize: none;
}

.gl-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gl-layout-header {
    flex: 0 0 64px;
}

.gl-layout-content {
    flex: 1 1 100%;
}

.gl-layout-footer {
    flex: 0 0 auto;
}

.gl-page-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1220px;
}

@media screen and (max-width: 759px) {
    .gl-page-content {
        padding: 0 16px;
    }
}

.gl-page-content-small {
    max-width: 780px;
    padding: 0 16px;
}

.gl-link-underline:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li {
    list-style-type: none;
}
