.header {
    display: flex;
    height: 64px;
    justify-content: space-between;
}

.header-wrapper {
    border-bottom: 1px solid rgba(16, 0, 43, 0.12);
}

.header-block {
    display: flex;
    align-items: center;
}

.header-block:last-child {
    overflow: hidden;
}

.burger-btn {
    display: none;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 759px) {
    .burger-btn {
        display: block;
        background-image: url("../../../assets/icons/burger-btn.svg");
        margin-right: 15px;
    }
}

.header-logo {
    height: 26px;
    margin-right: 50px;
}

@media screen and (max-width: 589px) {
    .header-logo {
        margin-right: 10px;
    }
}

.header-logo-img {
    height: 100%;
}

@media screen and (max-width: 959px) {
    .header-phone-wrapper {
        display: none;
    }
}

.header-phone {
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
}

.header-phone-tip {
    font-size: 12px;
    line-height: 14px;
    color: #8A959D;
}

.location {
    font-size: 14px;
    line-height: 16px;
    color: #8A959D;
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 48px;
    padding-left: 32px;
    background-image: url("../../../assets/icons/locaton.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1179px) {
    .location {
        margin-right: 20px;
    }
}

@media screen and (max-width: 759px) {
    .location {
        display: none;
    }
}

.search-icon {
    background-image: url("../../../assets/icons/search.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 24px;
}

@media screen and (max-width: 759px) {
    .search-icon {
        display: none;
    }
}

.button-header-wrapper {
    overflow: hidden;
}

.button-header {
    padding: 0 16px;
    height: 34px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 100%;
}

@media screen and (max-width: 589px) {
    .button-header {
        padding: 0 8px;
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

@media screen and (max-width: 759px) {
    .nav-wrapper {
        display: none;
    }
}

.nav-item {
    font-size: 14px;
    line-height: 16px;
}

.nav-item.active {
    color: #02B1A9;
}

.nav-item:hover {
    color: #02B1A9;
}
