@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
}