.banner {
    background-image: url("../../../assets/images/photo_banner.png");
    height: 406px;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 759px) {
    .banner {
        height: 350px;
    }
}

@media screen and (max-width: 589px) {
    .banner {
        height: 296px;
    }
}

.banner:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

@media screen and (max-width: 759px) {
    .banner-title {
        font-size: 28px;
        line-height: 34px;
    }
}

@media screen and (max-width: 589px) {
    .banner-title {
        font-size: 20px;
        line-height: 26px;
    }
}

.content-wrapper {
    padding-top: 80px;
}

@media screen and (max-width: 759px) {
    .content-wrapper {
        padding-top: 58px;
    }
}

@media screen and (max-width: 589px) {
    .content-wrapper {
        padding-top: 36px;
    }
}


.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

@media screen and (max-width: 759px) {
    .title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 589px) {
    .title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }
}

.text-block {
    font-size: 18px;
    line-height: 26px;
}

@media screen and (max-width: 759px) {
    .text-block {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 589px) {
    .text-block {
        font-size: 14px;
        line-height: 20px;
    }
}

.last-text-block {
    margin-top: 26px;
    margin-bottom: 28px;
}

@media screen and (max-width: 759px) {
    .last-text-block {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 589px) {
    .last-text-block {
        margin-top: 20px;
        margin-bottom: 36px;
    }
}

.grey-container-wrapper {
    margin-top: 30px;
    margin-bottom: 36px;
}

@media screen and (max-width: 759px) {
    .grey-container-wrapper {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

.grey-container {
    background-color: #F5F5F5;
    border-radius: 8px;
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 1220px;
}

@media screen and (max-width: 589px) {
    .grey-container {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.grey-container-content {
    max-width: 780px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width: 589px) {
    .grey-container-content {
        display: block;
    }
}

.grey-container-img {
    margin-right: 48px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

@media screen and (max-width: 589px) {
    .grey-container-img {
        display: block;
        margin: 0 auto 16px;
        width: 328px;
        height: 150px;
        max-width: 100%;
    }
}

.grey-container-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
}

@media screen and (max-width: 759px) {
    .grey-container-text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 589px) {
    .grey-container-text {
        font-size: 14px;
        line-height: 20px;
    }
}

.directions-wrapper {
    margin-top: 120px;
    margin-bottom: 120px;
}

@media screen and (max-width: 759px) {
    .directions-wrapper {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

.title-direction {
    margin-bottom: 78px;
}

@media screen and (max-width: 759px) {
    .title-direction {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 590px) {
    .title-direction {
        margin-bottom: 24px;
    }
}

.grid-direction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 70px;
}

@media screen and (max-width: 759px) {
    .grid-direction {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 50px;
    }
}

@media screen and (max-width: 589px) {
    .grid-direction {
        grid-row-gap: 32px;
    }
}

.grid-item {
    padding-right: 80px;
}

@media screen and (max-width: 759px) {
    .grid-item {
        padding-right: 0;
    }
}

.item-icon {
    width: 56px;
    height: 56px;
    margin-bottom: 2px;
}

.item-caption {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}

@media screen and (max-width: 589px) {
    .item-caption {
        font-size: 16px;
        line-height: 19px;
    }
}

.item-value {
    font-size: 16px;
    line-height: 22px;
    color: #8A959D;
}

@media screen and (max-width: 589px) {
    .item-value {
        font-size: 14px;
        line-height: 20px;
    }
}

.form-block-wrapper {
    margin-bottom: 56px;
}

@media screen and (max-width: 759px) {
    .form-block-wrapper {
        padding: 0;
        margin-bottom: 28px;
    }
}

.form-block {
    display: flex;
    justify-content: space-between;
    padding: 65px 36px 35px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

@media screen and (max-width: 759px) {
    .form-block {
        display: block;
    }
}

@media screen and (max-width: 589px) {
    .form-block {
        padding: 36px 16px;
    }
}

.form-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
}

@media screen and (max-width: 959px) {
    .form-title {
        font-size: 28px;
        line-height: 30px;
        margin-right: 10px;
    }

    .form-title-wrapper {
        margin-right: 10px;
    }
}

@media screen and (max-width: 589px) {
    .form-title {
        font-size: 20px;
        line-height: 22px;
    }
}

.form-caption {
    font-size: 18px;
    line-height: 24px;
    color: #8A959D;
}

@media screen and (max-width: 759px) {
    .form-caption {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 589px) {
    .form-caption {
        font-size: 14px;
        line-height: 20px;
    }
}

.form-wrapper {
    max-width: 432px;
    font-size: 0;
}

@media screen and (max-width: 759px) {
    .form-wrapper {
        max-width: none;
    }
}

.input-form {
    width: 100%;
}

.button-form {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    margin-bottom: 12px;
    height: 48px;
}

.tip {
    font-size: 12px;
    line-height: 14px;
    color: #8A959D;
}

@media screen and (max-width: 589px) {
    .tip {
        line-height: 18px;
    }
}

.tip-link {
    font-size: 12px;
    line-height: 14px;
    color: #1a459d;
}

@media screen and (max-width: 589px) {
    .tip-link {
        line-height: 18px;
    }
}

.partners-wrapper {
    height: 100px;
    overflow: hidden;
    margin-bottom: 56px;
}

@media screen and (max-width: 589px) {
    .partners-wrapper {
        margin-bottom: 28px;
    }
}

.partners-block {
    display: flex;
    overflow-x: auto; /* = overflow-x: scroll; */
    padding-bottom: 50px;
}

.partner-icon-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.partner-icon {
    width: 142px;
    height: 100px;
}

.abm {
    background-image: url("../../../assets/icons/logo-patner.svg");
}

.abm:hover {
    background-image: url("../../../assets/icons/logo-patner-abm-hover.svg");
    transition: 400ms;
}
